#blogBox {
	background: #6c2a85 url("images/side_blog_checkusout.gif") no-repeat center 15px;;
	padding: 50px 0 10px 0;
}

.center {
	text-align:center;
}

#main h3.date_header {
	font-style: normal;
	font-size: 120%;
	font-family: Arial, Helvetica, Sans-serif;
	color: #14bae7;
}

#sidebar ol {
	list-style: none;
	
}

#blogBox p {
	padding: 10px 0 10px 0;
}