/* ------------------------------------------------------------------
author:		Camp Firebelly
title:		master.css
info:		Master CSS File for Radio Arte
------------------------------------------------------------------*/

/* =Reset Globals
------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* =Color Palette

yellow: #ffff33
blue: #14bae7
purple: #6c2a85
cream: #fffef3
gray: #484848

------------------------------------------*/

/* =Global Structure
------------------------------------------*/
body {
	margin:0 auto;
	width: 1024px;
	background-color:#484848;
	font: normal .875em Arial, Helvetica, sans-serif;
	text-align: center;
}

#header {
	height: 143px;
	position: relative;
	background: #fffef3 url("images/header_station.gif") no-repeat right top ;
	border-bottom: 23px solid #ffff33;
	width: 1024px;
	margin: 0 auto;
}

#header h1 {
		background-image: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
}

#header h1 a {
		background: url("images/logo_radio_arte.gif") no-repeat 0 -1px;
		width: 406px;
		height: 143px;
		display: block;
		overflow: hidden;
		line-height: 1000px;	
}

#station {
	text-indent: -10000px;
}
				
#container{
	width: 1024px;
	margin: 0 auto;
	text-align: left;
}
	
#content {
	padding: 16px 0 0 0;
	background-color:#fffef3;
}

#main {
	width: 760px;
	float:left;
	margin-right:27px;
}

.padding_left {
	padding:0 0 0 27px;
}

#main h2 {
	color:#14bae7;
	font-weight: bold; 
	font-size: 114%;
	text-transform: uppercase;
}


#main h3 {
	color:#757575;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
	line-height: 100%;
}


#main p {
	color:#000000;
	font-size: 100%;
}
	
#main ol {
	color:#000000;
	font-size: 100%;
	margin-left: 30px;
}

#main p, #main h2, #main h3, #main ol, #main ul {
	padding-right: 100px;
	margin-bottom: 20px;
}

#main h2, #main h3 {
	margin-bottom: 5px;
}
		
#sidebar {
	width:210px;
	float:left;
}

.box {
	width: 210px;
	margin: 0 0 17px 0;
}

#footer {
	width: 1024px;
	/*height: 65px;*/
	background: #fffef3 url('images/footer.jpg') no-repeat left top;
	/*background-color: #fffef3;*/

}

/* =Navigation
------------------------------------------*/

#nav {
	position: absolute;
	top: -1px;
	left: -2px;
}
	#nav li {
		list-style: none;	
		position: absolute;
		visibility: hidden;
	}	
	#map {
		position: relative;
		margin-left: 263px;
	}

	#transparent_map {
		width: 650px;
		height: 143px;
		position: absolute;
		z-index: 30;
	}
	#map li {
		text-indent: -1000em;
		position: absolute;
		z-index: 20;
		visibility: hidden;
	}
		#map li {
			background-position: top left;
			background-repeat: no-repeat;
		}
	#nav li#home {
		position:absolute;
		top: 0px;
		left: -1px;	
	}
	
	#nav li#about {
		position:absolute;
		top: 0px;
		left: 180px;	
	}
	
	#nav li#programming {
		position:absolute;
		top: 0;
		left: 90px;	
	}
	
	#nav li#get-involved {
		position:absolute;
		top: 0;
		left: 270px;	
	}
	
	#nav li#support {
		position:absolute;
		top: 0;
		left: 362px;	
	}
	
	#nav li#contact {
		position:absolute;
		top: 0;
		left: 452px;	
	}
	
	#nav li a {
		display: block;
		width: 235px;
		height: 143px;
		background-repeat: no-repeat;
		background-position: 0 -144px;
		display: block;
		overflow: hidden;
		line-height: 1000px;
	}
	#nav li#home a {
		background-image: url("images/nav_home.gif");
		position: absolute;
		top: 0;
		
	}
	#nav li#programming a {
		background-image: url("images/nav_programming.gif");
	}
	#nav li#about a {
		background-image: url("images/nav_about.gif");
	}
	#nav li#about a {
		background-image: url("images/nav_about.gif");
	}	
	#nav li#get-involved a {
			background-image: url("images/nav_involve.gif");
	}
	#nav li#support a {
		background-image: url("images/nav_support.gif");
	}	
	#nav li#contact a {
		background-image: url("images/nav_contact.gif");
	}

	
/*------------------------------------------*/
/* =Sub Navigation
------------------------------------------*/
	.firstmenu{
		float: left;
		width: 1024px;
		background: #14bae7;
		margin: 0 0 0 0;
		min-height: 23px;
		height: auto !important;
		height: 23px;
	}

	.firstmenu ul{
		list-style: none;
		float: left;
		padding-left: 10px;
		background: #6c2a85;
	}
	
	.firstmenu ul li{
		float: left;
		font-size: 86%;
		text-transform: uppercase;
		background: #6c2a85 url("images/subnav/navtab.gif") no-repeat right top;
	}
	
	.firstmenu ul li.last{
		background: url("images/subnav/white_line.png") no-repeat left top;
	}
	
	.firstmenu ul li a {
		display: block;
		padding: 5px 40px 4px 12px;
		color: #FFFFFF;
	}
	
	.firstmenu ul li a:hover {
		display: block;
		padding: 5px 40px 4px 12px;
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.firstmenu ul li.last a{
		background: #6c2a85 url('images/subnav/navtab_last.gif') no-repeat right top;
	}




/* =Sidebar Bucket Styles
------------------------------------------*/
.box h2 {
	display: none;
}

.box p {
	color: #ffffff;
	font-family: Helvetica, Arial, sans serif;
	font-size: 80%;
	margin: 0 10px 0 15px; /*I added margin right*/
	line-height: 15px;
}

.box ol {
	margin: 0 10px 0 15px; /*I added margin right*/
}


#listenNow {
	background: #14bae7 url("images/side_listennow.gif") no-repeat center 15px;
	padding: 50px 0 10px 0;
}

#live_stream {
	background: #14bae7 url("images/side_live_stream.gif") no-repeat;
	height: 32px;
	display: block;
	overflow: hidden;
	line-height: 500px;
	margin-bottom: 14px;
	margin-top: -4px;
}

#live_stream:hover {
	background-position: left -32px;
}

#live_stream_hd {
	background: #14bae7 url("images/side_hdlive_stream.gif") no-repeat top right;
	height: 32px;
	display: block;
	overflow: hidden;
	line-height: 500px;
	margin-bottom: 12px;
}

#live_stream_hd:hover {
	background-position: right -32px;
}

#donateNow {
	background: #6c2a85 url('images/side_donate_now.gif') no-repeat left top;
	height:52px;
	}
	
#donateNow:hover {
	background-position: left -52px;
}

#donateNow a{
	display: block;
	overflow: hidden;
	height: 52px;
	line-height: 500px;
}

#twitterFeed {
	background: #ffff33 url('images/side_radio_arte_is.gif') no-repeat center 20px;
	padding: 165px 0 10px 0;	
}

#twitterFeed p{
	color: #14bae7;
	font-family: Helvetica, Arial, sans serif;
	font-size: 85%;
	margin: 0 0 0 15px;
	line-height: 17px; 
	padding: 0 10px 0 0;
}

#flickrStream {
	background: #14bae7 url('images/side_photo_gallery.gif') no-repeat 15px 15px;
	padding: 90px 0 8px 0;
}


.flickr_photo {
	background: #14bae7 url("#") no-repeat center 15px;
	display: block;
	text-align: center;
}

#flickr_gallery {
	background: #14bae7 url('images/side_go_to_flickr.gif') no-repeat right 0;
	display: block;
	height: 29px;
	overflow: hidden;
	line-height: 500px;	
}

#flickr_gallery:hover {
	background-position: right -30px;
}

#socialNetworks {
	background: #14bae7 url('images/side_stay_connected.gif') no-repeat center 20px;
	padding: 55px 0 0 0;
	
}

#socialNetworks ul li{
	float: left;
	margin: 15px 7px 15px 8px;
	list-style: none;
}

	#socialNetworks ul li a{  
		display: block;
		height: 37px;
		width: 37px;
		overflow: hidden;
		line-height: 500px;
	}
	
	#flickr a {
	background: #14bae7 url('images/side_flickr.gif') no-repeat ;
}

	#facebook a {
	background: #14bae7 url('images/side_facebook.gif') no-repeat ;
}

	#twitter a {
	background: #14bae7 url('images/side_twitter.gif') no-repeat ;
}
	#socialNetworks ul #myspace {
		margin-right: 0;
	}
	#myspace a {
	background: #14bae7 url('images/side_myspace.gif') no-repeat ;
}

#weather {
	background: #fffef3 url('images/weather.jpg') no-repeat left top;
	height:67px;
}

/* =Content Typography
------------------------------------------*/
a {
	text-decoration: none;
	color:#14bae7; /* changed color of links from default blue to cyan color*/
}

a:hover {    /* added a hover state of underlined*/
	text-decoration: underline;
}

h1 {
	color:#6c2a85;
	font: bold 40px Helvetica, sans-serif;
	letter-spacing: -2px;
	height: 50px;
	padding: 5px 0 0 0;
	background: url('images/h1.jpg') left top no-repeat;
}

p {
	line-height: 18px;
	margin-bottom:20px;
}

#main p.small {
	font-size: 85%;
	width: 430px;
	margin-top: -18px;
	line-height: 130%;
}

/* =Footer Typography
------------------------------------------*/
#footer p {
	text-align:center;
	color: #757575;
	font-size: 88%;
	padding: 54px 0 27px 0;
}

/* =Utilities
------------------------------------------*/
.clearfix {
	display: block;
	height: 1%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }


/* blog styles
------------------------------------------*/
#blogBox {
	background: #6c2a85 url("images/side_blog_checkusout.gif") no-repeat center 15px;;
	padding: 50px 0 10px 0;
}

.center {
	text-align:center;
}

#main h3.date_header {
	font-style: normal;
	font-size: 120%;
	font-family: Arial, Helvetica, Sans-serif;
	color: #14bae7;
}

#sidebar ol {
	list-style: none;
	
}

#blogBox p {
	padding: 10px 0 10px 0;
}

/* =HOMEPAGE Layout styles (RV)
------------------------------------------*/
em {color:#676565;}
p.caption {width: 365px;}
#homepage-productions ul {
	margin-bottom: 20px;
}
#homepage-productions li {border: 0px solid #000; width:235px; float:left; margin: 0 10px 10px 0; overflow:hidden;}
#homepage-productions li.last {margin-right:0;}
#homepage-productions a.readmore {font-weight: bold; color: #00b4e5; font-family:sans-serif; background: url("images/img_arrow.gif") no-repeat left top; width:9px; height:14px; padding-left:11px;}
#homepage-news-and-events #news, #homepage-news-and-events #events {width:365px; float:left; margin-right:0px;}
#event-list {background-color:#fffecd; margin-right:10px;}
#event-list h2.events {background: url("images/hdr_events.gif") no-repeat left top; width:222px; height:29px; text-indent: -50000px;}
#event-list h2.news {background: url("images/hdr_news.gif") no-repeat left top; width:222px; height:29px; text-indent: -50000px;}
#event-list ul {padding:15px;}
#homepage-marquee {
	position: relative;
	width: 733px;
	overflow: hidden;
	margin-bottom: 20px;
}
#homepage-marquee h3 {
	width:497px;
	height:65px;
	background: url('images/image_overlay.png') no-repeat;
	text-transform: uppercase;
	position: absolute;
	bottom: -2px;
	padding: 5px 0 0 5px;
	margin: 0;
	color: #fffef3;
	font-style: normal;
	font: 24px Arial, Helvetica, sans-serif;
 }
h3.homo-frecuencia {background: url("images/header_homofrecuencia.gif") no-repeat left top; width:197px; height:13px; text-indent: -50000px; margin-bottom: 5px;}
h3.first-voice {background: url("images/header_firstvoice.gif") no-repeat left top; width:197px; height:13px; text-indent: -50000px; margin-bottom: 5px;}
h3.primera-voz {background: url("images/header_primeravoz.gif") no-repeat left top; width:197px; height:13px; text-indent: -50000px; margin-bottom: 5px;}
h3.sin-papeles {background: url("images/header_sinpapeles.gif") no-repeat left top; width:197px; height:13px; text-indent: -50000px; margin-bottom: 5px;}
h3.without-borders {background: url("images/header_withoutborders.gif") no-repeat left top; width:197px; height:13px; text-indent: -50000px; margin-bottom: 5px;}
h3.fourteen-o-one {background: url("images/header_1401.gif") no-repeat left top; width:197px; height:13px; text-indent: -50000px; margin-bottom: 5px;}


------------------------------------------*/

/* =SHOWS Layout styles (RV)
------------------------------------------*/
ul#pod-entries {width:auto; padding:0;}
img.pod-image {float:left; width: 98px; height: 98px; display: inline; padding-right: 7px; margin-bottom:0;}
#pod-entries li {list-style-type:none; float:left; margin-bottom: 5px; width:353px; margin:15px 10px 0 0; height:auto; background-color:#e5f6f2;}
#programming-shows a, #syndicated-shows a {color:#00b4e5;}
.pod-image {float:left; width:98px;}
.pod-description {float:left; width:245px; margin-left:10px;}
.show-description {float:left; width:430px; margin-left:10px;}

#main.full-width p, #main.full-width h2, #main.full-width h3, #main.full-width ol, #main.full-width ul {
	padding-right: 0;
}
